---
import About from "@components/About.astro";
import Certificates from "@components/Certificates";
import Contact from "@components/Contact";
import Hero from "@components/Hero";
import Project from "@components/Project";
import Knowledge from "@components/knowledge";
import Layout from "@layout/Layout.astro";
---

<Layout title="portafolio | elver david peñate">
 <main class="mx-4 md:mx-16 lg:mx-20">
  <Hero client:load />
  <About />
  <Knowledge client:load />
  <Certificates />
  <Project client:load />
  <Contact client:load />
 </main>
</Layout>
<!-- 


 -->
