---
import About from '@components/About.astro'
import Certificates from '@components/Certificates.astro'
import Contact from '@components/Contact/Contact'
import Hero from '@components/Hero.astro'
import Knowledge from '@components/knowledge'
import Project from '@components/Project'
import Layout from '@layout/Layout.astro'
---

<Layout>
  <main class="md:container xl:container mx-auto px-4">
    <Hero />
    <About />
    <Knowledge client:idle />
    <Certificates />
    <Project client:idle />
    <Contact client:idle />
  </main>
</Layout>
