---
import urlImage from "@assets/icon-abaut.svg";
import { Image, getImage } from "astro:assets";
const optimizeImage = await getImage({
  src: urlImage,
  format: "svg",
  quality: "max",
  height: 463,
  width: 603,
});
---

<div class="grid lg:grid-cols-2 items-center">
  <div class="mt-32 space-y-3" id="about">
    <h2 class="Subtitle">Sobre mi</h2>
    <p
      class="lg:w-[450px] font-nunito text-slate-700 dark:text-gray-400 text-lg leading-relaxed"
    >
      Desarrollador web, con conocimientos en el desarrollo tanto del front end
      como del back end.He estudiado en la Universidad Autónoma de Bucaramanga,
      y continúo mi formación de manera independiente, siempre buscando aprender
      nuevas tecnologías y técnicas para mejorar mi trabajo. Estoy emocionado de
      compartir mi conocimiento y habilidades a través de mi portafolio y
      trabajar en proyectos interesantes.
    </p>
  </div>
  <Image
    src={optimizeImage.src}
    alt="icon section abaut me"
    decoding="async"
    loading="lazy"
    class="lg:mt-32 mt-10 w-full"
    width={optimizeImage.options.width}
    height={optimizeImage.options.height}
  />
</div>
