<div class="grid lg:grid-cols-2 items-center" >
    <div class="lg:mt-96 mt-32  space-y-3" id="about"> 
        <h2 class="Subtitle">Sobre mi</h2>
        <p class="lg:w-[450px] font-nunito text-slate-700 text-lg leading-relaxed ">
         Desarrollador web junior con conocimientos en el desarrollo tanto del front end como del back end.
         Me he formado en la Universidad Sergio Arboleda y en la Universidad Autónoma de Bucaramanga, y
         continúo mi formación de manera autodirigida, siempre buscando aprender nuevas tecnologías y
         técnicas para mejorar mi trabajo. Estoy emocionado de compartir mi conocimiento y habilidades a
         través de mi portafolio y trabajar en proyectos interesantes.
        </p>
       </div>
       <img src="icons/icon-abaut.svg" alt="" class="lg:mt-96 mt-10 w-full">
</div>
