---
import urlImage from '@assets/icon-hero.svg'
import OpenCurriculum from '@components/OpenCurriculum'
---

<section class="grid lg:grid-cols-2">
  <div class="mt-20">
    <h1 class="font-kalam text-5xl text-primary">Elver David Peñate</h1>
    <h2 class="font-nunito text-lg text-white mb-4">Desarrollador web</h2>
    <OpenCurriculum />
  </div>
  <img
    src={urlImage.src}
    alt="icon hero"
    class="mt-20 lg:mt-0 w-full"
    width="603"
    height="500"
  />
</section>
