<div class="grid lg:grid-cols-2">
    <div class="mt-20">
        <span class="font-nunito text-slate-700 pl-2">Hola,soy</span>
        <h1 class="Name">Elver David Peñate</h1>
        <h2 class="font-nunito text-slate-700 mb-4">Desarrollador web</h2>
        <button
            onclick="window.open('./archives/CurriculumElverDavid.pdf','  _blank')"
            class="Button">Hoja de vida</button
        >
    </div>
    <img src="icons/icon-hero.svg" alt="icon hero" class="mt-20 lg:mt-10 w-full" />
</div>
